In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('./Dataset/Complete Disaster.xlsx')
df.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1960-0001-BGD,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2003-07-01,2023-09-25
1,1960-0002-IRN,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,IRN,...,NaN,NaN,NaN,NaN,20000.0,206054.0,9.706216,NaN,2007-11-08,2023-09-25
2,1960-0004-SUN,Yes,tec-tra-wat-wat,Technological,Transport,Water,Water,NaN,Submarine,SUN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2003-12-03,2023-09-25
3,1960-0007-PER,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,PER,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2004-04-13,2023-09-25
4,1960-0008-NIU,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Corine,NIU,...,NaN,NaN,NaN,NaN,41.0,422.0,9.706216,NaN,2003-07-01,2023-09-25

In [4]:
df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [5]:
df.rename(
    columns={
    'Disaster Group': 'DisasterGroup'
}, inplace=True)

In [6]:
df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'DisasterGroup',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA/BHA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [7]:
df.query('DisasterGroup == "Natural"')

,DisNo.,Historic,Classification Key,DisasterGroup,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1960-0001-BGD,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2003-07-01,2023-09-25
1,1960-0002-IRN,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,IRN,...,NaN,NaN,NaN,NaN,20000.0,206054.0,9.706216,NaN,2007-11-08,2023-09-25
3,1960-0007-PER,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,PER,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2004-04-13,2023-09-25
4,1960-0008-NIU,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Corine,NIU,...,NaN,NaN,NaN,NaN,41.0,422.0,9.706216,NaN,2003-07-01,2023-09-25
6,1960-0010-MAR,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,MAR,...,NaN,NaN,NaN,NaN,120000.0,1236321.0,9.706216,NaN,2004-04-13,2023-10-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25291,2024-0242-THA,No,nat-met-sto-sev,Natural,Meteorological,Storm,Severe weather,NaN,NaN,THA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-23,2024-04-26
25294,2024-0249-IDN,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,IDN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-25,2024-04-26
25298,2024-9075-COL,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000013,NaN,COL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":939,""adm1_name"":""Boyaca""},{""adm1...",2024-02-13,2024-04-10
25299,2024-9131-ZMB,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,GLIDE:DR-2024-000018,NaN,ZMB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-03-12,2024-04-12
25300,2024-9135-MHL,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,MHL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{""adm1_code"":2002,""adm1_name"":""Administrative...",2024-03-13,2024-04-10