## **IMPACT OF NATURAL DISASTER ON REMITTANCE FLOW**

In [12]:
# libraries to use
import pandas as pd

### **DISASTER DATASET LOADING**

In [13]:
# load dataset
disaster = pd.read_csv('./Dataset/natural disaster.csv')
disaster.head(3)

,Unnamed: 0,DisNo.,Historic,Classification Key,DisasterGroup,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,0,1960-0001-BGD,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2003-07-01,2023-09-25
1,1,1960-0002-IRN,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,NaN,20000.0,206054.0,9.706216,NaN,2007-11-08,2023-09-25
2,3,1960-0007-PER,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.706216,NaN,2004-04-13,2023-09-25

In [14]:
# list on columns in the dataset
disaster.columns

Index(['Unnamed: 0', 'DisNo.', 'Historic', 'Classification Key',
       'DisasterGroup', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'External IDs', 'Event Name', 'ISO', 'Country',
       'Subregion', 'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       'AID Contribution ('000 US$)', 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Year', 'Start Month',
       'Start Day', 'End Year', 'End Month', 'End Day', 'Total Deaths',
       'No. Injured', 'No. Affected', 'No. Homeless', 'Total Affected',
       'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [15]:
# removed unused features
disaster = disaster.drop(['Unnamed: 0', 'DisNo.', 'Historic', 'Classification Key',
       'DisasterGroup', 'Disaster Subtype', 'External IDs', 'Event Name', 'Country',
       'Subregion', 'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       "AID Contribution ('000 US$)", 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Month',
       'Start Day', 'End Year', 'End Month', 'End Day',
       'No. Injured', 'No. Affected', 'No. Homeless', 'Total Affected',
       "Reconstruction Costs ('000 US$)",
       "Reconstruction Costs, Adjusted ('000 US$)",
       "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)",
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)", 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'], axis=1)

In [17]:
# new look of disaster dataset
disaster.head(3)

  Disaster Subgroup Disaster Type  ISO  Start Year  Total Deaths
0      Hydrological         Flood  BGD        1960       10000.0
1       Geophysical    Earthquake  IRN        1960         480.0
2       Geophysical    Earthquake  PER        1960          63.0

### **WORLD BANK DATASET LOADING**

In [7]:
world = pd.read_csv('./Dataset/World Data.csv', skiprows=4)
world.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Personal remittances, received (% of GDP)",BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.810387,1.765777,1.815417,1.126930,1.009012,1.367148,1.155124,1.079905,NaN,NaN
1,Africa Eastern and Southern,AFE,"Personal remittances, received (% of GDP)",BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.180510,1.029486,0.982369,1.347993,1.436747,1.488722,1.560329,1.541921,NaN,NaN
2,Afghanistan,AFG,"Personal remittances, received (% of GDP)",BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.821996,3.464843,4.387093,4.450986,4.407428,3.953297,2.243017,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Personal remittances, received (% of GDP)",BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.128857,4.169626,4.692655,4.577658,4.307428,3.761344,3.927797,4.077403,NaN,NaN
4,Angola,AGO,"Personal remittances, received (% of GDP)",BX.TRF.PWKR.DT.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.012282,0.007559,0.001925,0.001988,0.004860,0.016604,0.018993,0.013116,NaN,NaN